In [1]:
import pandas as pd
import numpy as np

# Carregando dataset UNSW completo

In [2]:
df_unsw1 = pd.read_csv('/media/kelson/Maxtor/Trabalho/UFU/artigo_pre-processamento/dataset_unsw2015_csv/UNSW-NB15_1.csv', low_memory=False)
df_unsw1.columns = [nome_coluna.strip().replace(' ', '_').replace('/', '_') for nome_coluna in df_unsw1.columns]
df_unsw2 = pd.read_csv('/media/kelson/Maxtor/Trabalho/UFU/artigo_pre-processamento/dataset_unsw2015_csv/UNSW-NB15_2.csv', low_memory=False)
df_unsw3 = pd.read_csv('/media/kelson/Maxtor/Trabalho/UFU/artigo_pre-processamento/dataset_unsw2015_csv/UNSW-NB15_3.csv', low_memory=False)
df_unsw4 = pd.read_csv('/media/kelson/Maxtor/Trabalho/UFU/artigo_pre-processamento/dataset_unsw2015_csv/UNSW-NB15_4.csv', low_memory=False)

In [3]:
df_unsw1.columns

Index(['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes',
       'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload',
       'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz',
       'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime',
       'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat',
       'is_sm_ips_ports', 'ct_state_ttl', 'ct_flw_http_mthd', 'is_ftp_login',
       'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src__ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'attack_cat',
       'Label'],
      dtype='object')

In [4]:
# os nomes das colunas dos datasets 2, 3 e 4 estão faltando
df_unsw3

,59.166.0.1,18247,149.171.126.4,7662,tcp,FIN,0.119596,4550,68342,31,...,,6,2,2.1,5,1,1.1,2.2,Unnamed: 47,0.4
0,59.166.0.3,54771,149.171.126.2,27709,tcp,FIN,0.650574,8928,320,31,...,,3,5,2,4,1,1,4,NaN,0
1,59.166.0.8,13289,149.171.126.9,5190,tcp,FIN,0.007980,2158,2464,31,...,,3,5,1,1,1,1,3,NaN,0
2,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
3,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
4,59.166.0.3,10275,149.171.126.0,25,tcp,FIN,0.486578,37462,3380,31,...,,3,2,3,4,2,1,2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,59.166.0.0,2111,149.171.126.5,53,udp,CON,0.001035,146,178,31,...,,1,3,4,3,1,1,4,NaN,0
699996,59.166.0.5,49044,149.171.126.3,30639,tcp,FIN,0.220630,424,8824,31,...,,3,3,3,3,1,1,4,NaN,0
699997,59.166.0.6,37717,149.171.126.7,35667,tcp,FIN,0.031576,2646,25564,31,...,,7,6,7,4,1,1,3,NaN,0
699998,59.166.0.2,1768,149.171.126.7,64122,tcp,FIN,0.096835,4862,82782,31,...,,6,6,7,7,1,1,2,NaN,0
699999,59.166.0.9,7045,149.171.126.7,25,tcp,FIN,0.201886,37552,3380,31,...,,2,2,7,4,1,1,3,NaN,0

# Análise e tratamento das colunas (renomeando)

In [5]:
# criando as colunas do dataset 2
df_unsw2 = df_unsw2.rename(columns={'59.166.0.0':'srcip',
                          '6055':'sport',
                          '149.171.126.5':'dstip',
                          '54145':'dsport',
                          'tcp':'proto',
                          'FIN':'state',
                          '0.072974':'dur',
                          '4238':'sbytes',
                          '60788':'dbytes',
                          '31':'sttl',
                          '29':'dttl',
                          '7':'sloss',
                          '30':'dloss',
                          '-':'service',
                          '458245.4375':'Sload',
                          '6571546.5':'Dload',
                          '72':'Spkts',
                          '72.1':'Dpkts',
                          '255':'swin',
                          '255.1':'dwin',
                          '1003293149':'stcpb',
                          '1003585034':'dtcpb',
                          '59':'smeansz',
                          '844':'dmeansz',
                          '0':'trans_depth',
                          '0.1':'res_bdy_len',
                          '62.04531':'Sjit',
                          '61.899776':'Djit',
                          '1421955842':'Stime',
                          '1421955842.1':'Ltime',
                          '1.02269':'Sintpkt',
                          '0.997042':'Dintpkt',
                          '0.002317':'tcprtt',
                          '0.002173':'synack',
                          '0.000144':'ackdat',
                          '0.2':'is_sm_ips_ports',
                          '0.3':'ct_state_ttl',
                          '0.4':'ct_flw_http_mthd',
                          '0.5':'is_ftp_login',
                          '0.6':'ct_ftp_cmd',
                          '13':'ct_srv_src',
                          '13.1':'ct_srv_dst',
                          '6':'ct_dst_ltm',
                          '7.1':'ct_src__ltm',
                          '1':'ct_src_dport_ltm',
                          '1.1':'ct_dst_sport_ltm',
                          '2':'ct_dst_src_ltm',
                          'Unnamed: 47':'attack_cat',
                          '0.7':'Label'})
df_unsw2

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src__ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,7832,149.171.126.3,5607,tcp,FIN,0.144951,5174,91072,31,...,0,13,13,6,7,1,1,2,NaN,0
1,59.166.0.8,11397,149.171.126.6,21,tcp,FIN,0.116107,2934,3742,31,...,1,1,2,7,5,1,1,4,NaN,0
2,59.166.0.0,3804,149.171.126.3,53,udp,CON,0.000986,146,178,31,...,0,13,13,6,7,1,1,2,NaN,0
3,59.166.0.8,14339,149.171.126.6,14724,tcp,FIN,0.038480,8928,320,31,...,0,8,20,7,5,1,1,4,NaN,0
4,59.166.0.8,39094,149.171.126.3,53,udp,CON,0.001026,130,162,31,...,0,8,13,6,5,1,1,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
699996,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
699997,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
699998,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
699999,59.166.0.1,18247,149.171.126.4,7662,tcp,FIN,0.119596,4550,68342,31,...,,6,2,2,5,1,1,2,NaN,0

In [6]:
# criando as colunas do dataset 3
df_unsw3 = df_unsw3.rename(columns={'59.166.0.1':'srcip',
                          '18247':'sport',
                          '149.171.126.4':'dstip',
                          '7662':'dsport',
                          'tcp':'proto',
                          'FIN':'state',
                          '0.119596':'dur',
                          '4550':'sbytes',
                          '68342':'dbytes',
                          '31':'sttl',
                          '29':'dttl',
                          '7':'sloss',
                          '33':'dloss',
                          '-':'service',
                          '300478.2813':'Sload',
                          '4514398.5':'Dload',
                          '78':'Spkts',
                          '80':'Dpkts',
                          '255':'swin',
                          '255.1':'dwin',
                          '1818376620':'stcpb',
                          '1818657356':'dtcpb',
                          '58':'smeansz',
                          '854':'dmeansz',
                          '0':'trans_depth',
                          '0.1':'res_bdy_len',
                          '87.137592':'Sjit',
                          '85.643619':'Djit',
                          '1424231129':'Stime',
                          '1424231129.1':'Ltime',
                          '1.549156':'Sintpkt',
                          '1.50719':'Dintpkt',
                          '0.000644':'tcprtt',
                          '0.000521':'synack',
                          '0.000123':'ackdat',
                          '0.2':'is_sm_ips_ports',
                          '0.3':'ct_state_ttl',
                          'Unnamed: 37':'ct_flw_http_mthd',
                          'Unnamed: 38':'is_ftp_login',
                          ' ':'ct_ftp_cmd',
                          '6':'ct_srv_src',
                          '2':'ct_srv_dst',
                          '2.1':'ct_dst_ltm',
                          '5':'ct_src__ltm',
                          '1':'ct_src_dport_ltm',
                          '1.1':'ct_dst_sport_ltm',
                          '2.2':'ct_dst_src_ltm',
                          'Unnamed: 47':'attack_cat',
                          '0.4':'Label'})
df_unsw3

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src__ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.3,54771,149.171.126.2,27709,tcp,FIN,0.650574,8928,320,31,...,,3,5,2,4,1,1,4,NaN,0
1,59.166.0.8,13289,149.171.126.9,5190,tcp,FIN,0.007980,2158,2464,31,...,,3,5,1,1,1,1,3,NaN,0
2,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
3,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
4,59.166.0.3,10275,149.171.126.0,25,tcp,FIN,0.486578,37462,3380,31,...,,3,2,3,4,2,1,2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,59.166.0.0,2111,149.171.126.5,53,udp,CON,0.001035,146,178,31,...,,1,3,4,3,1,1,4,NaN,0
699996,59.166.0.5,49044,149.171.126.3,30639,tcp,FIN,0.220630,424,8824,31,...,,3,3,3,3,1,1,4,NaN,0
699997,59.166.0.6,37717,149.171.126.7,35667,tcp,FIN,0.031576,2646,25564,31,...,,7,6,7,4,1,1,3,NaN,0
699998,59.166.0.2,1768,149.171.126.7,64122,tcp,FIN,0.096835,4862,82782,31,...,,6,6,7,7,1,1,2,NaN,0
699999,59.166.0.9,7045,149.171.126.7,25,tcp,FIN,0.201886,37552,3380,31,...,,2,2,7,4,1,1,3,NaN,0

In [7]:
# criando as colunas do dataset 4
df_unsw4 = df_unsw4.rename(columns={'59.166.0.9':'srcip',
                          '7045':'sport',
                          '149.171.126.7':'dstip',
                          '25':'dsport',
                          'tcp':'proto',
                          'FIN':'state',
                          '0.201886':'dur',
                          '37552':'sbytes',
                          '3380':'dbytes',
                          '31':'sttl',
                          '29':'dttl',
                          '18':'sloss',
                          '8':'dloss',
                          'smtp':'service',
                          '1459437.5':'Sload',
                          '130766.8672':'Dload',
                          '52':'Spkts',
                          '42':'Dpkts',
                          '255':'swin',
                          '255.1':'dwin',
                          '1422136554':'stcpb',
                          '3572668484':'dtcpb',
                          '722':'smeansz',
                          '80':'dmeansz',
                          '0':'trans_depth',
                          '0.1':'res_bdy_len',
                          '456.043567':'Sjit',
                          '15.530109':'Djit',
                          '1424250009':'Stime',
                          '1424250009.1':'Ltime',
                          '3.943843':'Sintpkt',
                          '4.912488':'Dintpkt',
                          '0.00059':'tcprtt',
                          '0.000473':'synack',
                          '0.000117':'ackdat',
                          '0.2':'is_sm_ips_ports',
                          '0.3':'ct_state_ttl',
                          'Unnamed: 37':'ct_flw_http_mthd',
                          'Unnamed: 38':'is_ftp_login',
                          ' ':'ct_ftp_cmd',
                          '2':'ct_srv_src',
                          '2.1':'ct_srv_dst',
                          '7':'ct_dst_ltm',
                          '4':'ct_src__ltm',
                          '1':'ct_src_dport_ltm',
                          '1.1':'ct_dst_sport_ltm',
                          '3':'ct_dst_src_ltm',
                          'Unnamed: 47':'attack_cat',
                          '0.4':'Label'})
df_unsw4

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src__ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.9,9685,149.171.126.2,80,tcp,FIN,5.864748,19410,1087890,31,...,,3,1,4,4,1,1,1,NaN,0
1,59.166.0.2,1421,149.171.126.4,53,udp,CON,0.001391,146,178,31,...,,3,5,2,7,1,1,4,NaN,0
2,59.166.0.2,21553,149.171.126.2,25,tcp,FIN,0.053948,37812,3380,31,...,,1,1,4,7,1,1,3,NaN,0
3,59.166.0.8,45212,149.171.126.4,53,udp,CON,0.000953,146,178,31,...,,2,5,2,1,1,1,2,NaN,0
4,59.166.0.0,59922,149.171.126.8,6881,tcp,FIN,8.633186,25056,1094788,31,...,,9,7,2,3,2,1,6,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440038,59.166.0.5,33094,149.171.126.7,43433,tcp,FIN,0.087306,320,1828,31,...,,1,2,3,3,1,1,3,NaN,0
440039,59.166.0.7,20848,149.171.126.4,21,tcp,CON,0.365058,456,346,31,...,2,2,2,2,2,2,2,2,NaN,0
440040,59.166.0.3,21511,149.171.126.9,21,tcp,CON,6.335154,1802,2088,31,...,2,2,2,4,2,2,2,2,NaN,0
440041,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,31,...,,1,1,2,4,2,2,2,NaN,0
440042,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,...,,1,1,2,4,2,2,2,Exploits,1

In [8]:
# juntandos os datasets 1, 2, 3 e 4
df_unsw = pd.concat([df_unsw1, df_unsw2, df_unsw3, df_unsw4])

In [9]:
# os índices estão duplicados
df_unsw.loc[[100]]

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src__ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
100,59.166.0.2,45898,149.171.126.1,111,udp,CON,0.004906,568,304,31,...,0,3,3,1,2,1,1,1,NaN,0
100,59.166.0.5,9736,149.171.126.2,2761,udp,CON,0.001561,536,304,31,...,0,14,12,5,6,1,1,3,NaN,0
100,59.166.0.0,6267,149.171.126.1,53,udp,CON,0.000989,146,178,31,...,,1,1,3,1,1,1,1,NaN,0
100,175.45.176.0,12334,149.171.126.13,5060,udp,INT,0.000010,1376,0,254,...,,1,1,1,1,1,1,1,Generic,1

In [10]:
# reseta os índices e faz a verificação
df_unsw.reset_index(drop=True, inplace=True)
df_unsw.loc[[100]]

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src__ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
100,59.166.0.2,45898,149.171.126.1,111,udp,CON,0.004906,568,304,31,...,0,3,3,1,2,1,1,1,NaN,0

In [11]:
#pd.set_option("display.max_columns", None)
#print(df_unsw.head(100))
#pd.set_option("display.max_columns", False)

In [12]:
df_unsw.ct_flw_http_mthd.value_counts()

0.0     986790
1.0     188008
6.0       7902
4.0       6564
3.0        738
2.0        588
5.0        430
9.0        270
14.0       224
12.0       132
30.0        60
8.0         56
16.0        48
36.0        36
10.0        30
25.0        25
Name: ct_flw_http_mthd, dtype: int64

In [13]:
# visualizando os valores nulos
df_unsw.isnull().sum()

srcip                     0
sport                     0
dstip                     0
dsport                    0
proto                     0
state                     0
dur                       0
sbytes                    0
dbytes                    0
sttl                      0
dttl                      0
sloss                     0
dloss                     0
service                   0
Sload                     0
Dload                     0
Spkts                     0
Dpkts                     0
swin                      0
dwin                      0
stcpb                     0
dtcpb                     0
smeansz                   0
dmeansz                   0
trans_depth               0
res_bdy_len               0
Sjit                      0
Djit                      0
Stime                     0
Ltime                     0
Sintpkt                   0
Dintpkt                   0
tcprtt                    0
synack                    0
ackdat                    0
is_sm_ips_ports           0
ct_state_ttl              0
ct_flw_http_mthd    1348143
is_ftp_login        1429877
ct_ftp_cmd                0
ct_srv_src                0
ct_srv_dst                0
ct_dst_ltm                0
ct_src__ltm               0
ct_src_dport_ltm          0
ct_dst_sport_ltm          0
ct_dst_src_ltm            0
attack_cat          2218761
Label                     0
dtype: int64

In [14]:
# consulta quantidade de registro de uma categoria dentro da coluna específica
#df_unsw.ct_flw_http_mthd.value_counts()

In [15]:
# retorna todas as linhas com NaN da coluna específica
# ct_flw_http_mthd
# is_ftp_login
# attack_cat
df_unsw[df_unsw['ct_flw_http_mthd'].isnull()].head(100)

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src__ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
1087202,149.171.126.14,179,175.45.176.3,33159,tcp,FIN,0.121478,258,172,252,...,,1,1,1,1,1,1,1,NaN,0
1087203,175.45.176.3,22592,149.171.126.16,143,tcp,FIN,0.649902,734,42014,62,...,,43,6,1,1,1,1,2,NaN,0
1087204,175.45.176.0,62762,149.171.126.16,56430,tcp,FIN,1.623129,364,13186,62,...,,7,6,2,2,1,1,3,NaN,0
1087205,175.45.176.0,45235,149.171.126.16,21,tcp,FIN,1.681642,628,770,62,...,1,1,1,2,2,1,1,3,NaN,0
1087206,175.45.176.3,62994,149.171.126.14,179,tcp,FIN,0.449454,534,268,254,...,,43,39,2,2,2,1,40,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087317,175.45.176.1,0,149.171.126.17,0,sctp,INT,0.000009,104,0,254,...,,1,1,2,1,1,1,2,DoS,1
1087318,175.45.176.1,0,149.171.126.17,0,sctp,INT,0.000009,104,0,254,...,,1,1,2,1,1,1,2,DoS,1
1087319,175.45.176.1,0,149.171.126.17,0,sctp,INT,0.000009,104,0,254,...,,1,1,2,1,1,1,2,Exploits,1
1087320,175.45.176.1,0,149.171.126.17,0,sctp,INT,0.000009,104,0,254,...,,1,1,2,1,1,1,2,Fuzzers,1
1087321,175.45.176.1,0,149.171.126.17,0,sctp,INT,0.000009,104,0,254,...,,1,1,2,1,1,1,2,Analysis,1

In [16]:
# substituir valores NaN da coluna específica
df_unsw['attack_cat'].fillna('Benign', inplace=True)
df_unsw['is_ftp_login'].fillna(3, inplace=True)
df_unsw['ct_flw_http_mthd'].fillna(7, inplace=True)

In [17]:
#df_unsw.isnull().sum()
# ct_flw_http_mthd
# is_ftp_login
# attack_cat
df_unsw.is_ftp_login.value_counts()

3.0    1429877
0.0    1066592
1.0      43389
4.0        156
2.0         30
Name: is_ftp_login, dtype: int64

In [18]:
# uniificando os ataques duplicados
df_unsw.loc[df_unsw.attack_cat == 'Backdoors', df_unsw.attack_cat.name] = 'Backdoor'
df_unsw.loc[df_unsw.attack_cat == ' Reconnaissance ', df_unsw.attack_cat.name] = 'Reconnaissance'
df_unsw.loc[df_unsw.attack_cat == ' Shellcode ', df_unsw.attack_cat.name] = 'Shellcode'
df_unsw.loc[df_unsw.attack_cat == ' Fuzzers ', df_unsw.attack_cat.name] = 'Fuzzers'
df_unsw.loc[df_unsw.attack_cat == ' Fuzzers', df_unsw.attack_cat.name] = 'Fuzzers'

In [19]:
df_unsw.attack_cat.value_counts()

Benign            2218761
Generic            215481
Exploits            44525
Fuzzers             24246
DoS                 16353
Reconnaissance      13987
Analysis             2677
Backdoor             2329
Shellcode            1511
Worms                 174
Name: attack_cat, dtype: int64

In [20]:
# FAZER APENAS NO PRÉ-PROCESSAMENTO
# colunas excluídas que não possuem influência na detecção
#df_unsw =  df_unsw.drop(['srcip', 'sport', 'dstip', 'dsport', 'Stime', 'Ltime'], axis='columns')
df_unsw =  df_unsw.drop(['srcip', 'dstip'], axis='columns')
df_unsw.shape

(2540044, 47)

In [21]:
# alterando nome (-) da classe service para 'others'
df_unsw.loc[df_unsw.service == '-', df_unsw.service.name] = 'others'
# alterando nome ' ' da classe ct_ftp_cmd para '7'
df_unsw.loc[df_unsw.ct_ftp_cmd == ' ', df_unsw.ct_ftp_cmd.name] = '7'

In [22]:
df_unsw.service.value_counts()

others      1246395
dns          781668
http         206273
ftp-data     125783
smtp          81644
ftp           49090
ssh           47160
pop3           1533
dhcp            172
ssl             142
snmp            113
radius           40
irc              31
Name: service, dtype: int64

In [23]:
pd.set_option('display.max_rows', None)
print(df_unsw.dtypes)
pd.set_option('display.max_rows', False)

sport                object
dsport               object
proto                object
state                object
dur                 float64
sbytes                int64
dbytes                int64
sttl                  int64
dttl                  int64
sloss                 int64
dloss                 int64
service              object
Sload               float64
Dload               float64
Spkts                 int64
Dpkts                 int64
swin                  int64
dwin                  int64
stcpb                 int64
dtcpb                 int64
smeansz               int64
dmeansz               int64
trans_depth           int64
res_bdy_len           int64
Sjit                float64
Djit                float64
Stime                 int64
Ltime                 int64
Sintpkt             float64
Dintpkt             float64
tcprtt              float64
synack              float64
ackdat              float64
is_sm_ips_ports       int64
ct_state_ttl          int64
ct_flw_http_mthd    float64
is_ftp_login        float64
ct_ftp_cmd           object
ct_srv_src            int64
ct_srv_dst            int64
ct_dst_ltm            int64
ct_src__ltm           int64
ct_src_dport_ltm      int64
ct_dst_sport_ltm      int64
ct_dst_src_ltm        int64
attack_cat           object
Label                 int64
dtype: object

In [24]:
# convertendo variáveis específicas de nominal para inteiro
df_unsw['ct_ftp_cmd'] = df_unsw['ct_ftp_cmd'].astype(int)
#df_unsw['srcip'] = df_unsw['srcip'].astype(float)

In [25]:
# verifica detalhes das variáveis
# variáveis nominais: #proto #state #service #ct_ftp_cmd
#df_unsw.shape
#df_unsw.describe()
#df_unsw.dtypes
#df_unsw.ct_ftp_cmd.value_counts()
#np.unique(df_unsw['sport'])
#len(np.unique(df_unsw.ct_ftp_cmd))
pd.set_option('display.max_rows', None)
print(df_unsw.dtypes)
pd.set_option('display.max_rows', False)

sport                object
dsport               object
proto                object
state                object
dur                 float64
sbytes                int64
dbytes                int64
sttl                  int64
dttl                  int64
sloss                 int64
dloss                 int64
service              object
Sload               float64
Dload               float64
Spkts                 int64
Dpkts                 int64
swin                  int64
dwin                  int64
stcpb                 int64
dtcpb                 int64
smeansz               int64
dmeansz               int64
trans_depth           int64
res_bdy_len           int64
Sjit                float64
Djit                float64
Stime                 int64
Ltime                 int64
Sintpkt             float64
Dintpkt             float64
tcprtt              float64
synack              float64
ackdat              float64
is_sm_ips_ports       int64
ct_state_ttl          int64
ct_flw_http_mthd    float64
is_ftp_login        float64
ct_ftp_cmd            int64
ct_srv_src            int64
ct_srv_dst            int64
ct_dst_ltm            int64
ct_src__ltm           int64
ct_src_dport_ltm      int64
ct_dst_sport_ltm      int64
ct_dst_src_ltm        int64
attack_cat           object
Label                 int64
dtype: object

In [26]:
# exportar dataset unsw completo
df_unsw.to_csv('/media/kelson/Maxtor/Trabalho/doutorado/artigo_preprocessamento/artigo/dataset_unsw/df_unsw_full.csv', index=False)